.our_works {

    &__list {
        @include _flexbox();
        @include _flex-wrap(wrap);

        > li {
            @include _flexbox();
            width: 33.32%;
            padding: 0 15px;
            margin: 0 0 30px 0;

            @include media(sm) {
                width: 100%;
            }

            &.double {
                width: 66.64%;

                @include media(sm) {
                    width: 100%;
                }

            }

        }

    }

}