.fancybox {

    &-slide {

        &--html {

            .fancybox {

                &-close {

                    &-small {
                        padding: 0;
                        top: 45px;
                        right: 45px;
                        opacity: 1;

                        svg {
                            height: 58px;
                            width: 58px;
                            path {
                                fill: $background-red;
                            }
                        }

                    }

                }

            }

        }

    }



}
