.swiper {

    &-controls {
        @include _flexbox();
        @include _align-items(center);
        @include _justify-content(center);

        .swiper {

            &-button{

                &-prev, &-next {
                    position: static;
                    width: auto;
                    height: auto;
                    top: auto;
                    margin-top: 0;

                }

                &-prev {

                }

                &-next {

                }

            }

            &-pagination {
                position: static;
                padding: 0 30px;
                @include _flexbox();
                @include _align-items(center);
            }

        }

    }

    &-button{

        &-prev, &-next {

            &::after {
                font-family: FontAwesome;
                font-size: 32px;
                color: $background-blue;
            }

            &:hover {

            }

        }

        &-prev{

            &::after {
                content: "\f104";
            }

        }

        &-next {

            &::after {
                content: "\f105";
            }

        }

    }

    &-pagination{

        &-bullet {
            $size: 8px;
            width: $size;
            height: $size;
            background-color: #d7d7d7;
            margin: 0 6px;
            opacity: 1;
            transition: all .18s linear;

            &-active{
                background-color: $background-red;
                transform: scale(1.3);
            }
        }
    }

    &-container {
        &-horizontal {
            > .swiper {
                &-pagination{
                    &-bullets{
                        .swiper{
                            &-pagination{
                                &-bullet {
                                    margin: 0 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}